.foodMenuContainer {
  margin: 0 auto;
  margin-top: 15px;
  /* border: 2px solid red; */
  width: 400px;
  height: 220px;
  display: flex;
  justify-content: center;
}

.imageBox {
  font-size: 13px;
  width: 150px;
  height: 100px;
}

.images {
  border: 2px solid orange;
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

.textBox {
  margin-top: 42px;
  font-size: 10px;
  padding: 17px;
  width: 150px;
  height: 100px;
}

.boxFlex {
  /* border: 2px solid red; */
  gap: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex: 1;
  height: 200px;
}

.addToCart {
  background-color: orange;
}

.heart-btn {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}
