.mainContainer {
  height: 300px;
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border: 2px solid red;
}

.image {
  width: 100px; /* Set a fixed width */
  height: 100px; /* Set a fixed height */
  object-fit: cover; /* Ensures the image fills the box without distortion */
  border-radius: 50px; /* Optional: Adds rounded corners */
}
